<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="gallery-img.html">
<link rel="import" href="gallery-desc.html">

<dom-module id="gallery-feed">
  <template>
    <template is="dom-repeat" items="{{galleryTap}}">
      <gallery-img img-loc$="{{item.imgLoc}}"></gallery-img>
      <gallery-desc img-desc$="{{item.imgDesc}}"></gallery-title>
    </template>
  </template>

  <script>
    Polymer({
        is: "gallery-feed",
        properties: {
          galleryJSON : {
            observer : '_objectifyGallery'
          },
          galleryBuilt : {
            observer: '_observedGalleryBuilt'
          }
      },
      _objectifyGallery : function(newValue, oldValue) {
        var tempArr = [];
        var galleryItms = Object.keys(newValue);
        for(var i = 0; i < galleryItms.length; i++) {
          tempArr.push(newValue[galleryItms[i]]);
        }
        this.galleryTap = tempArr;
      },
      _observedGalleryBuilt : function(newValue, oldValue) {
        console.log("Observed: galleryBuilt");
      },
      ready : function() {
        console.log("Ready: gallery-feed");
      }
    });
  </script>
</dom-module>