<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="gallery-img">
  <template>
    <a href="#"><img src="{{fullImgLoc}}"></a>
  </template>

  <script>
    Polymer({
      is: "gallery-img",
      properties: {
        imgLoc: {
          type: String,
          value: "gallery-img default",
          reflectToAttribute: true,
          observer: "_observedImgLoc"
        },
        fullImgLoc : {
          type: String
        }
      },
      _observedImgLoc : function(newValue,oldValue) {
        this.fullImgLoc = "../../gallery/images/" + newValue
      },
      ready : function() {
        console.log("Ready: gallery-img");
      }
    });
  </script>
</dom-module>