<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="gallery-img.html">
<link rel="import" href="gallery-desc.html">

<dom-module id="gallery-feed">
  <template>
    <template is="dom-repeat" items="{{galleryImages}}">
      <gallery-img imgLoc="{{item}}"></gallery-img>
    </template>
    <template is="dom-repeat" items="{{galleryDesc}}">
      <gallery-desc imgDesc="{{item}}"></gallery-title>
    </template>
  </template>

  <script>
    Polymer({
        is: "gallery-feed",
        properties: {
          galleryJSON : {
            observer : '_objectifyGallery'
          },
          galleryImages : {
            observer : '_observedGalleryImages'
          },
          galleryDesc : {
            observer : '_observedGalleryDesc'
          }
      },
      _objectifyGallery : function(newValue, oldValue) {
        console.log('Observed: galleryJSON');
        var galleryItms = Object.keys(newValue);
        var tempImages = [];
        var tempDesc = [];
        for(var i = 0; i < galleryItms.length; i++) {
          tempImages.push(newValue[galleryItms[i]].imgLoc);
          tempDesc.push(newValue[galleryItms[i]].imgDesc);
        }
        this.galleryImages = tempImages;
        this.galleryDesc = tempDesc;
      },
      _observedGalleryImages: function(newValue, oldValue) {
        console.log('Observed: galleryImages');
      },
      _observedGalleryDesc: function(newValue, oldValue) {
        console.log('Observed: galleryDesc');
      },
      ready : function() {
        console.log("Ready: gallery-feed");
      }
    });
  </script>
</dom-module>